{% extends 'core/basico.html' %}
{% load static%}
{% block contenido %}
{% block css %}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
{%endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
 <script src="{% static 'core/js/confirmacion.js' %}"></script>

 <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
 {%endblock %}

 <h2> Listado de peliculas </h2>
 
 <table class="table table-stripped">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Duracion
        </th>
        <th>
            Año
        </th>

        <th>
            Genero
        </th>
        <th>
            Opciones
        </th>
    </tr>
    {% for p in peliculas %}
       <tr>
        <td>
            {{p.nombre}}
        </td>
        <td>
            {{p.duracion}}
        </td>

        <td>
            {{p.anio}}
        </td>

        <td>{{p.genero}}</td>


        <td>
            <a href="{% url 'modificar_pelicula' p.id %}">Modificar</a> 
            
            <a onclick="confirmarEliminacion(  '{{p.id }}'  , '{{p.nombre }}' )" href="#">Eliminar</a> </td>
       </tr>
    {% endfor %}
 </table>

{% endblock %}